.login-button {
  display: flex;
  justify-content: flex-start;
  margin-top:20px;
  cursor:pointer;
}

.nav-section {
  display:flex;
  justify-content: center;
  cursor: pointer;
}

.menu-area {
  display:flex;
  justify-content: space-between;
}


.menu-list {
  display:flex;
  list-style-type: none;
}

.menu-list li {
  padding: 10px;
}

.button-style {
  margin-right: 30px;
}

.container-style {
  width:100vw;
}

